<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<!-- 
   <display-name>Gestione Segreteria</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list> --> 

  <servlet>
  	<servlet-name>LoginUtente</servlet-name>
  	<servlet-class>controller.LoginUtente</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginUtente</servlet-name>
  	<url-pattern>/logUtente</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>controller.Login</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>home</servlet-name>
  	<servlet-class>controller.Home</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>PrendiOrdini</servlet-name>
  	<servlet-class>controller.DammiOrdine</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PrendiOrdini</servlet-name>
  	<url-pattern>/gestioneOrdini/ottieniOrdini</url-pattern>
  </servlet-mapping>
  
<servlet>
  	<servlet-name>IscrizioneOrdine</servlet-name>
  	<servlet-class>controller.IscriviOrdine</servlet-class>
</servlet>
  
  <servlet-mapping>
  	<servlet-name>IscrizioneOrdine</servlet-name>
  	<url-pattern>/inviaDatiOrdine</url-pattern>
  </servlet-mapping>  

   <servlet>
  	<servlet-name>PrendiClienti</servlet-name>
  	<servlet-class>controller.DammiFuturiA</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PrendiClienti</servlet-name>
  	<url-pattern>/gestioneClienti/ottieniClienti</url-pattern>
  </servlet-mapping>
<servlet>
  	<servlet-name>IscrizioneCliente</servlet-name>
  	<servlet-class>controller.IscriviCliente</servlet-class>
</servlet>
  
  <servlet-mapping>
  	<servlet-name>IscrizioneCliente</servlet-name>
  	<url-pattern>/gestioneClienti/inviaDatiCliente</url-pattern>
  </servlet-mapping> 
  
    
     <servlet>
  	<servlet-name>DammiPassword</servlet-name>
  	<servlet-class>controller.DammiPassword</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DammiPassword</servlet-name>
  	<url-pattern>/forgotP</url-pattern>
  </servlet-mapping>  
  
       <servlet>
  	<servlet-name>RichiediPassword</servlet-name>
  	<servlet-class>controller.RichiediPassword</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RichiediPassword</servlet-name>
  	<url-pattern>/inviaEmail</url-pattern>
  </servlet-mapping>  

</web-app>